@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AeonikPro';
  src: url('/fonts/AeonikPro-Trial/AeonikProTRIAL-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AeonikPro';
  src: url('/fonts/AeonikPro-Trial/AeonikProTRIAL-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'AeonikPro';
  src: url('/fonts/AeonikPro-Trial/AeonikProTRIAL-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AeonikPro';
  src: url('/fonts/AeonikPro-Trial/AeonikProTRIAL-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'AeonikPro';
  src: url('/fonts/AeonikPro-Trial/AeonikProTRIAL-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AeonikPro';
  src: url('/fonts/AeonikPro-Trial/AeonikProTRIAL-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  --background: #E2DFD6;
  --foreground: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.card-holder {
  scroll-behavior: smooth;
}
